{{#if currentUser.isAdmin}}

<h1>Welcome to Doner Place!</h1>
<p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and lamb and any topping you want. Place your order now!</p>
<div class="products">
    <h2>Admin</h2>
    <div class="product-card">
        <img src="img/new.png">
        <a href="createProduct" class="button product-title">Create Product</a>
    </div>
    {{#each products}}
    <h2>{{this.category}} Doner</h2>
    <div class="product-card">
        <img src="{{this.imageUrl}}">
        <a href="#" class="control"><img class="control-img" src="img/edit.png"></a>
        <a href="deleteProduct/{{this._id}}" class="control"><img class="control-img" src="img/delete.png"></a>
    </div>
    {{/each}}
</div>

{{else}}
<h1>Welcome to Doner Place!</h1>
    <p>
        We offer a wide variety of tasty doner kebab, cutosmized to your liking. 
        Choose from different sizes of chicken, beef and lamb and any topping you want. 
        Place your order now!
    </p>
    
    {{#if currentUser}}
    {{#each products}}
    <div class="products">
        <h2>{{this.category}} Doner</h2>
        <div class="product-card"><img src="{{this.imageUrl}}">
            <a href="order/{{this._id}}" class="button product-title">Order</a>
        </div>
    </div>
   {{/each}}
   {{/if}}

{{/if}} 